# When using "disable=no-memeber" it will throw a warning that we disabled it.
# frame = wx.Frame(None, -1, "Hello World") # pylint: disable=no-member
# Locally disabling no-member (E1101) (locally-disabled)

[MESSAGES CONTROL]

# locally-disabled - when disabling error locally, pylint would still complain
# too-few-public-methods - unit tests may have few public methods
# bad-continuation - wrong hanging indentation for functions/methods
disable=locally-disabled,too-few-public-methods,bad-continuation

[BASIC]

# Good variable names which should always be accepted, separated by a comma
# good-names=i,j,k,ex,Run,_

# Modified to allow for "_" - useful for unit tests
class-rgx=[A-Z_][a-zA-Z0-9_]+$
class-name-hint=[A-Z_][a-zA-Z0-9_]+$
# Modified to allow for A-Z - useful for unit tests
method-rgx=[a-zA-Z_][a-zA-Z0-9_]{2,30}$
method-name-hint=[a-zA-Z_][a-zA-Z0-9_]{2,30}$

[TYPECHECK]

ignored-modules=
dynamic-modules=wx,asd.xyz
